.main {
    margin-bottom: 40px;
    padding: 20px;
    background: #fafbfc;
    position: relative;
}

.main>h3 {
    font-size: 150%;
}

.listItemTitle {
    font-weight: bold;
    margin-top: 5px;
}

.item {
    margin-bottom: 10px;
}