* {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.5;
}

.main {
    margin-bottom: 40px;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    width: inherit;
    padding: 20px;
    background: #fafbfc;
    border: 1px gray solid;
}

.main>h3 {
    font-size: 150%;
}

.listItemTitle {
    font-weight: bold;
    margin-top: 5px;
    margin-left: 2em;
    list-style: circle;
}

.item {
    margin-left: 3em;
    margin-bottom: 10px;
}

.logoImage {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px lightgrey solid;
    width: 40%;
    height: 18em;
}

/* 
.imgContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    height: 100px;
    border: 1px black solid;
}
 */
table {
    margin-left: 20px;
    border-collapse: collapse;
    border: 3px solid #168;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.mutlimedia {
    margin-bottom: 20px;
    margin-left: 40px;
    list-style: none;
}

.iframe {
    list-style: none;
    margin-left: 40px;
}

.listExample {
    list-style: square;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
}

button {
    border-radius: 4px;
    padding: 5px;
    background: darkseagreen;
}